<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notebook">
    <insert id="create" parameterType="notebook" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_jianshu.notebook (title, userId) VALUE (#{title}, #{userId})
    </insert>
    <select id="queryAll" resultType="notebook">
        SELECT *
        FROM db_jianshu.notebook
        ORDER BY id
    </select>

    <resultMap id="queryNotesById_map" type="notebook">
        <id property="id" column="id"/>
        <collection property="notes" ofType="note">
            <id property="id" column="note_id"/>
            <result property="title" column="title"/>
            <result property="content" column="content"/>
            <result property="markdown" column="markdown"/>
        </collection>
    </resultMap>
    <select id="queryNotesById" parameterType="int" resultMap="queryNotesById_map">
        SELECT
            nb.id,
            n.id AS note_id,
            n.title,
            n.content,
            n.markdown
        FROM db_jianshu.notebook nb LEFT JOIN db_jianshu.note n
                ON nb.id = n.notebookId
        WHERE nb.id = #{id};
    </select>
</mapper>